extends layout

block content
	#page-header
		h1=page_name
	form(id='lead-wrap' name='client-add')
		div.lead-main-content
			fieldset(id='client')
				.field
					label(for='user-surname') Фамилия
					input(name='user-surname' id='user-surname' type='text')
				.field
					label(for='user-name') Имя
					input(name='user-name' id='user-name' type='text')
				.field
					label(for='user-father-name') Отчество
					input(name='user-father-name' id='user-father-name' type='text')
				.field
					label(for='Phone') Телефон
					input(name='Phone' id='Phone' type='text')
				.field
					label(for='e-mail') e-mail
					input(name='e-mail' id='e-mail' type='email')
				.field
					label(for='post-index') индекс
					input(id='post-index' name='post-index' type='number')
			fieldset(id='status-history')
				h2 История заявок
				ul(id='status-list')
					li
						a.product-name
							div
								p.date 01.01.17
								p.time 12:12
							div
								p Товар	
								p носки
						ul
							li
								a.date-time(href='')
									div
										p.date 01.01.17
										p.time 12:12
									p Звонок
							li
								div.date-time
									div
										p.date 01.01.17
										p.time 15:17
									p Новая заявка
							li
								div.date-time
									div
										p.date 01.01.17
										p.time 15:17
									p Новая заявка
