extends layout

block content
	include navigation-bar
	include page-header
	#content-list
		li.client
			a(href='/client' class='client-name') 
				p Вася Пупкин
				p +7 999 999 99 99
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:00(+3)
				p Звонок
		li.client
			a(href='' class='client-name') 
				p Иван Василич
				p +7 999 777 77 77
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:33(+7)
				p Звонок
		li.client
			a(href='' class='client-name') 
				p Вася Пупкин
				p +7 999 999 99 99
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:00(+3)
				p Звонок
		li.client
			a(href='' class='client-name') 
				p Иван Василич
				p +7 999 777 77 77
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:33(+7)
				p Звонок
