#header
	a(href='' id='usr-info')
		#usr-image
			img(src="../../img/avatars/users-10.svg" alt="here should be user image. but. it isn't")
		#usr-name
			p.userClass менеджер:
			p Дмитрий Михаилович Иванов
	ul#menu
		li
			a(href="") База данных
		li
			a(href="") Статистика
		li
			a(href="") Выход
