doctype html
head
	meta(charset= 'utf-8')
	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/socket.io/socket.io.js')
	title= page_name+"|die neuer crm"
	script(src='/js/socketClient.js')
	script(src='/js/sender.js')

body 
	include header.pug
	block content
