extends layout

block content
	#page-header
		h1=page_name
	form(id='lead-wrap' name='lead-add' method='post' action='')
		div.lead-main-content
			fieldset(id='client')
				h2 Клиент
				.field
					label(for='user-surname') Фамилия
					input(name='user-surname' id='user-surname' type='text')
				.field
					label(for='user-name') Имя
					input(name='user-name' id='user-name' type='text')
				.field
					label(for='user-father-name') Отчество
					input(name='user-father-name' id='user-father-name' type='text')
				.field
					label(for='Phone') Телефон
					input(name='Phone' id='Phone' type='text')
				.field
					label(for='e-mail') e-mail
					input(name='e-mail' id='e-mail' type='email')
				.field
					label(for='post-index') индекс
					input(id='post-index' name='post-index' type='number')
			fieldset(id='Products')
				h2 Товары
				.field
					label(for='product-title') товар
					input(name='product-title' id='product-title' type='text' list='product-list')
					datalist(id='product-list')
						option(value='авто-баффер') авто-баффер
						option(value='носки болотоходы') носки болотоходы
						option(value='пончо') пончо
						option(value='пускозарядное устройство') пускозарядное устройство
						option(value='валенки') валенки
						option(value='трусы верности') трусы верности
						option(value='нож-карточка') нож-карточка
				.field
					label(for='quantity') количество
					input(id='quantity' name='quantity' type='number')
				div
					h3 характеристики
						.field
							label(for='quantity') количество
							input(id='quantity' name='quantity' type='number')
				.field
					label(for='delivery') доставка
					input(id='delivery' name='delivery' type='number')
			fieldset(id='status-history')
				h2 История статусов
				ul(id='status-list')
					li.call
						a.date-time(href='')
							div
								p.date 01.01.17
								p.time 12:12
							p Звонок
					li
						div.date-time
							div
								p.date 01.01.17
								p.time 15:17
							p Новая заявка
					li
						div.date-time
							div
								p.date 01.01.17
								p.time 15:17
							p Новая заявка
		fieldset(id='additional-atributes')
			.field
				label(for='track') трек-номер
				input(id='track' name='track' type='number')

			.field
				label(for='operator') Оператор
				input(id='operator' name='operator' type='text')

			.field
				label(for='site-orign') сайт
				input(id='site-orign' name='site-orign' type='text')
		button(type='submit' form='lead-wrap' onclick='sendRequest(event)') Создать













