extends layout

block content
	include navigation-bar
	include page-header
	#content-list
		li.lead
			a(href='' class='client-name') 
				p Вася Пупкин
				p +7 999 999 99 99
			a(href='' class='product-name')
				p Товар
				p Huawei Z4
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:00(+3)
				p Звонок
		li.lead
			a(href='' class='client-name') 
				p Иван Василич
				p +7 999 777 77 77
			a(href='' class='product-name')
				p Товар
				p Huawei Z4
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:33(+7)
				p Звонок
		li.lead
			a(href='' class='client-name') 
				p Вася Пупкин
				p +7 999 999 99 99
			a(href='' class='product-name')
				p Товар
				p Huawei Z4
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:00(+3)
				p Звонок
		li.lead
			a(href='' class='client-name') 
				p Иван Василич
				p +7 999 777 77 77
			a(href='' class='product-name')
				p Товар
				p Huawei Z4
			a(href='' class="callthatmutherfucker")
				p(class='date-time') 01.01.17
				p(class='date-time') 00:33(+7)
				p Звонок