extends layout

block content
	form#register
		.field
			label(for='login') login
			input(type='text' id='login' name='login')
		.field
			label(for='password') Password
			input(type='password' id='password' name='password')
		button(type='submit') log-in