extends layout

block content
	form#createUser(name='createUser' action='/new-user' method='POST')
		.field
			label(for='name') name
			input(type='text' name='name' id='name')
		.field
			label(for='surname') surname
			input(type='text' name='surname' id='surname')
		.field
			label(for='login') login/nickname
			input(type='text' name='login' id='login')
		.field
			label(for='userClass') Роль
			input(type='text' list='classList')
			datalist(id='classList')
				option(value='admin') administrator
				option(value='common user') common user
		.field
			label(for='password')
			input(type='text' name='password' id='password')
		button(type='submit') submit
