redBasic = #ff5537
redSecondary = #ff4726
redHover=#ff5537
redThirdy=#ff6347
//rgba(255, 85, 55, 0.72)
wht = #fff
blck = #000

li a
	display block

#header
	font-size: 1.33em;
	background redBasic
	display flex
	justify-content: space-between;
	align-items: center
	padding-right: 1.2em
	//color wht

#usr-image
	width: 9%

#usr-image img
	width: 108%

#header a
	color wht
	margin-left: 10px;
#menu 
	display flex

#menu a
	padding: 3.3vh 1em;

#menu a:hover
	background redSecondary


#usr-name
	display flex
	text-transform: capitalize

#usr-info
	display flex
	align-items: center

.userClass
	color blck

//---------------navigation bar-----------//

#navigation-bar
	border-top: 1px solid redSecondary
	border-bottom: 1px solid redSecondary
	font-size: 1.1em;
	background redThirdy
	display: flex;
	flex-direction: row;
	justify-content: space-around;

#navigation-bar li
	border: 1px solid redSecondary
	text-align: center;
	width: 27%;
	margin: 0.4em;

#navigation-bar li a
	//background #ff5537
	padding: 1em;
	color: wht;

#navigation-bar li a.active
	background #ff4726

#navigation-bar li a:hover
	background #ff4726
//-----------client header-------------//
#page-header
	display: flex
	justify-content: space-between;
	align-items: center

#page-header h1
	font-size: 2em;
	margin: 1em;

#search input
	font-size: 1.3em;
	border: none;
	outline: none;
	border-bottom: 2px solid blck;

#page-header a
	font-size: 1.5em
	color: #000
	margin: 1em
	font-weight: bold;

//-------------client instance-----------//
.client
	display: flex;
	font-size:1.35em
	border:2px solid blck
	margin: 1em;
	align-items: center;
	justify-content: space-around;

.client-name
	display:flex
	width:50%
	padding: 0.5em;
	color: blck
	justify-content: space-around;

.callthatmutherfucker
	display:flex
	width:50%
	justify-content: space-around;
	padding: 0.5em;
	color: wht
	background #ff5537

.callthatmutherfucker:hover
	background #ff4726

//-------------lead instance----------//
.lead
	display: flex;
	font-size:1.35em
	border:2px solid blck
	margin: 1em;
	align-items: center;
	justify-content: space-around;

.lead .client-name
	width:30%

.lead .product-name
	width:20%
	padding: 0.5em
	display:flex
	justify-content: center;
	color:blck
	background redThirdy

.lead a p
	margin: 0 1em;

//-----------NEW LEAD----------------//
#lead-wrap
	display:flex
	flex-direction: column;
	justify-content: space-around;

#lead-wrap
	font-size: 1.3em;

.lead-main-content fieldset 
	margin 0.5em

#lead-wrap fieldset .field
	min-width: 17em;
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;

#lead-wrap fieldset h2
	font-size: 1.5em;
	margin-bottom:0.5em

#status-list li .date-time
	display: flex;
	justify-content: space-between;
	align-items: center;

#status-list li
	margin: 1em 0;
	padding-bottom: 1em;
	border-bottom 1px solid black

input
	outline-color: #ff5537;

.lead-main-content
	display flex
	justify-content: space-around;

#additional-atributes
	border-top: 1px solid darkgrey;
	padding-top: 1.5em;
	display: flex;
	flex-direction: column;
	margin: 0 7.9em;

#additional-atributes .field
	width: 17em;
